.card {
    width: 33%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #000000;
 }
 
 .card:hover {
    border: 3px dotted #0000ff; 
    background-color: #cccccc;
    color: #000000;
    font-size: 20px;
 }